.MuiTab-textColorPrimary {
    color: black !important;
    text-transform: capitalize !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}
.Mui-selected {
    color: #ff4458;
}
.MuiTabs-indicator {
    background-color: #ff4458 !important;
}
.MuiButtonBase-root {
    border-radius: 8px !important;
}
