.sidebar-head {
    display: flex;
    align-items: center;
    height: 72px;
    background-image: linear-gradient(45deg, #fd267a, #ff6036);
    padding: 0 12px;
    .sidebar-head-profile {
        display: flex;
        align-items: center;
        column-gap: 8px;
        transition: 0.3s linear;
        padding: 4px 14px 4px 4px;
        border-radius: 40px;
        & > a {
            font-size: 1.6rem;
        }
        & > span {
            font-weight: 600;
            color: white;
        }
        &:hover {
            background-color: #0006;
        }
    }
}
.content-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 72px);
    .logout {
        text-align: center;
        padding: 12px 0;
        border-top: 1px solid #d9d9d9;
        cursor: pointer;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.rada {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
