.cardContainer-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91vh;
    overflow: hidden;
    .cardContainer-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 375px;
        position: relative;
    }
    .buttons {
        display: flex;
        column-gap: 12px;
        align-items: center;
        position: absolute;
        bottom: 16px;
        .btn-item {
            cursor: pointer;
            margin: 0 6px;
        }
        .btn-like,
        .btn-cancel,
        .btn-back {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            border-radius: 50%;
            & svg {
                transition: 0.3s ease;
            }
            &:hover {
                svg {
                    transform: scale(1.1);
                }
            }
        }
        .btn-back {
            padding: 10px;
            border: 1px solid #fdca4f;
            & path {
                fill: #fdca4f;
            }
        }
        .btn-cancel {
            transition: 0.05s linear;
            & path {
                fill: #fe4950;
            }
            border: 1px solid #fe4950;
            &:active {
                background-color: #fe4950;
            }
        }
        .btn-like {
            transition: 0.05s linear;
            & path {
                fill: #2be8ca;
            }
            border: 1px solid #2be8ca;
            &:active {
                background-color: #2be8ca;
            }
        }
    }
}

.title-bottom {
    font-family: 'Gabriola';
    margin-top: 12px;
    text-align: center;
    letter-spacing: 12px;
}
