:root {
    --font-family: 'ProximaNova', sans-serif;
    --blue: #80bfff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
}
@font-face {
    font-family: ProximaNova;
    src: url('../../../assets/font/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../../assets/font/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../../assets/font/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('../../../assets/font/sofiapro-bold.woff');
    font-weight: 700;
}
a {
    text-decoration: none;
    color: black;
}
